*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width:1366px;
    margin: 0 auto;
}

nav{
    height:50px;
    background-color: #000;
    padding-top:10px;
}
#logo{
    width:100px;
    height:40px;
    background-color: #FFF;
}
header{
    height:250px;
    background-color: lavender;
}


main{
    width:800px;
    height:600px;
    background-color: lightpink;
    float:left;
}
aside{
    width:555px;
    height:600px;
    background-color: lightblue;
    float:right;
}

.photobox{
    width:75px;
    height:75px;
    background-color: lightcoral;
    float:left;
    margin-left: 10px;
}
#box2{
    background-color: lightcoral;
}


h1{
    font-family: sans-serif
        font-size:60px;
}










