div {
    opacity: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(338deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 104, 1) 35%, rgba(0, 212, 255, 0.7267856971890319) 98%);

}

nav {
    opacity: 100%;


    text-decoration-color: aliceblue;
    padding: 14px 25px;
    opacity: 100%;
    text-decoration: none;
/*    display: inline-block;*/
    z-index: 100;
    position: r;
    top: 10px;
    left: 10px;
    padding: 10px;
    float: inherit;
}


li {
    display: block;
    width 400px;
    color: pink;
    text-decoration: none;
    padding: 8px 16px;


}





h1 {
    font-family: freight-text-pro, sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 10em;
    color: paleturquoise;
    text-align: center;
    margin-bottom: 2px;
    margin-left: auto;
}





wrapper {
    width: 66px;
    margin: auto;
    overflow: hidden;
}

p {
    font-family: freight-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: .85em;
    line-height: 140%;
    margin-bottom: 20px;
}

h2 {
    font-family: serif;
    font-weight: 20;
    font-size: 10em;
    font-style: normal;
    color: paleturquoise;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 20px;
}

h3 {
    font-family: sans-serif;
    font-weight: 40;
    font-style: normal;
    font-size: 2em;
    color: paleturquoise;
    text-align: center;
    margin-bottom: 2px;
    margin-left: auto;
}

h4 {
    font-family: sans-serif;
    font-weight: 20;
    font-style: normal;
    font-size: 2em;
    color: paleturquoise;
    text-align: ;
    margin-bottom: 2px;
    margin-left: auto;
}
}

div {
    width: 1300px;
    height: 900px;
    align-content: center;
    color: paleturquoise;

}
