body {
    opacity: 50%;
    background: rgb(2, 0, 36);
    background: linear-gradient(338deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 104, 1) 35%, rgba(0, 212, 255, 0.7267856971890319) 98%);
}

nav {
    opacity: 50%;
    background: rgb(2, 0, 36);

    color: hotpink;
    padding: 14px 25px;
    opacity: 70%;
    text-decoration: none;
    display: inline-block;
    z-index: 10;
    position: fixed;
    top: 100px;
    left: 100px;
    padding: 10px;

}


li {
    display: block;
    width 400px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;


}



body {
    background-color: #f1f0ef;
}

wrapper {
    width: 1366px;
    margin: auto;
    overflow: hidden;
}



h1 {
    font-family: freight-text-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
    color: white;
    text-align: right;
    margin-bottom: 200px;
    margin-left: auto;
}

p {
    font-family: freight-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: .85em;
    line-height: 140%;
    margin-bottom: 20px;
}

h2 {
    font-family: serif;
    font-weight: 700;
    font-size: 30em;
    font-style: normal;
    color: white;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-left: 20px;
}



}

div {
    width: 700px;
    height: 500px;
    align-content: center;
}




width: 100px;
height: 200px;
font-family: fantasy color:white;
